*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    background-color:#FFF7E6;

    color:#222;

    transition:0.3s;

    min-height:100vh;

    display:flex;

    flex-direction:column;
}

body.dark{
    background-color:#0A122A;
    color:#FFFFFF;
}

.container{

    width:100%;

    max-width:700px;

    margin:50px auto;
}

h1,h2{
    text-align:center;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;

    padding:20px;
    border-radius:10px;

    background:white;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

body.dark form{
    background:#16213E;
}

.campo{
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:5px;
    font-weight:bold;
}

input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

.btn-adicionar{
    background:#0A122A;
    color:white;
    border:none;
    padding:12px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.btn-adicionar:hover{
    opacity:0.9;
}

body.dark .btn-adicionar{
    background:#FFF7E6;
    color:#0A122A;
}

#temaBtn{
    position:fixed;
    top:15px;
    left:15px;

    width:50px;
    height:50px;

    border:none;
    border-radius:50%;

    cursor:pointer;
    font-size:20px;

    background:#0A122A;
    color:white;
}

body.dark #temaBtn{
    background:#FFF7E6;
    color:#0A122A;
}

#listaProdutos{
    list-style:none;
    margin-top:20px;
}

.produto{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:15px;

    flex-wrap:wrap;
}

body.dark .produto{
    background:#16213E;
}

.info-produto{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.remover{
    background:#d62828;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

.remover:hover{
    background:#b51717;
}

@media(max-width:600px){

    .produto{
        flex-direction:column;
        gap:10px;
        text-align:center;
    }

    .remover{
        width:100%;
    }

}
body.dark input{
    background:#1f2b4a;
    color:white;
    border:1px solid #3f5a9a;
}

body.dark input::placeholder{
    color:#d8d8d8;
}

body.dark label{
    color:white;
}
input{

    width:100%;

    padding:10px;

    border:1px solid #ccc;

    border-radius:5px;

    font-size:16px;
}
.assinatura{

    position:fixed;

    left:15px;
    bottom:15px;

    font-size:14px;

    font-weight:700;

    opacity:.12;

    pointer-events:none;

    user-select:none;

    z-index:1;
}
footer{

    width:100%;

    text-align:center;

    padding:12px;

    font-size:12px;

    opacity:.55;

    margin-top:20px;
}
.pagina{

    flex:1;

    width:100%;

    display:flex;

    justify-content:center;

    align-items:flex-start;

    padding:20px;
}
@media(max-width:768px){

    .container{

        width:100%;

        margin:20px auto;
    }

    form{

        padding:15px;
    }

}
